
@font-face {
    font-family: inconsolata ;
    src: url(./fonts/Inconsolata-Regular.ttf);

}

body {
    background-color: #FFF7EB;
    font-family: "Inconsolata";
    
}

.navmenu{
    max-width: 57vw;
    margin: 0 auto;
    display: block;
    background-color: #EAD1FF;
    color: #7f718a;
    border-style: solid;
    border-color: #7f718a;
    border-width: 5px;
    padding: 25px;
    margin-bottom: 75px;
    list-style-type: none;
    overflow: hidden;
    box-shadow: 30px 30px 30px;
    
     
}


.TITLE { 
    
    margin: 0 auto;
    max-width: fit-content;
    display: block;
    background-color:#EAD1FF ;
    color:#FFF7EB;
    border-style: solid;
    border-color: #7f718a;
    border-width: 5px;
    padding: 25px;
    padding-bottom: 25px;
    margin-bottom: 75px;
    text-align: center;
    box-shadow: 30px 30px 30px; 
    overflow: hidden;

} 

.webimage{
    max-width: 57vw;
    margin: 0 auto;
    display: block;
    padding-bottom: 100px;

}
.sections { /* this CSS creates the boxes around my class .sections....... very cool*/
    font-size: large;
    margin: 0 auto;
    max-width: 57vw;
    display: block;
    background-color:#EAD1FF ;
    color: #7f718a;
    border-style: solid;
    border-color: #7f718a;
    border-width: 5px;
    padding: 25px;
    padding-bottom: 50px;
    margin-bottom: 75px;
    text-align: center;
    box-shadow: 30px 30px 30px; 
    overflow: hidden;

}


.details {
    list-style: square;
    text-align: left;
}


.sections p {
    text-align: left;
    text-align: none;
}


.navmenu li {
    display: block;
    text-align: center;
}


a {
    font-size: 35px;
    color:#7f718a;
    text-decoration: none;
    
}


a:hover {
    color: #FFF7EB;
    text-decoration: underline;
}

a:active {
    color: greenyellow;
}

.link1 {
    float: left;
    padding-left: 25px;
}

.link2 {
    float: left;
    padding-left: 55px;
}