*{
    box-sizing: border-box;
    background-origin: border-box;
    margin: 0;
}


body{
    background-color: black;
    font-family:'Poppins', sans-serif;
}

h2{
    color: white;
    text-align: center;
    margin-top: 5%

}

/* postion the strings */
#wrapper{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%
}

/* positon images */
#img-top{

    position: absolute;
    width: 100%;
    height: 100%;
}

#img-masked{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: url(#circleClip);
    mask-image: linear-gradient(-45deg, rbga(0,0,0,0), rbga(0,0,0,0));
    filter: invert;
}

/* style clipping mask */
#svg-mask{
    position: absolute;
    width: 100%;
    height: 100%;
    
}